h1{
    text-shadow:3px 3px 3px red;
    text-shadow:3px 3px 3px red, 10px 10px 10px blue;
}

.div{
    background-color: aqua;
    width:300px;
    height:250px;
    overflow: scroll;
    border: 1px ;
    box-shadow:-10px -10px 10px blue;
    color:blueviolet;
}

#xx{
    height:150px;
    border: 2px greenyellow;
    overflow: auto;

}